/* Structure */
body {
    background: papayawhip;
    color: saddlebrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
}

/* Navigation */

a {
    text-decoration: none;
    color: #a64d4d;
}

a:hover {
    background: #e6cccc;
    padding: 5px;
}

/* Images */

/* Tables */

/* Typography */
#title-header {
    color: maroon;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    padding: 0px;
}

h2 {
    text-align: center;
    font-size: 45px;
    color: maroon;   
}

h3 {
    text-align: center;
    font-size: 25px;
    color: maroon;
}

.col1of3 {
    color: maroon;
    text-align: center;
    background: wheat;
    margin: 2px;
    padding: 15px;
    border-radius: 20px;
}
h3 {
    color: maroon;
}

/*Larger Resolutions*/
@media (min-width: 900px) {
    .flex-container {
        display: flex;
        gap: 20px;
    }
    .col1of3{
        flex: 1;
    }
}

