/* Structure */
body {
    background: papayawhip;
    color: saddlebrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Navigation */
a {
    text-decoration: none;
    color: #a64d4d;
}

a:hover {
    background: #e6cccc;
}

/* Images */

/* Tables */

/* Typography */
h1 {
    color: maroon;
    font-size: x-large;
    font-family: cursive;
}
h2 {
    color: maroon;
}
h3 {
    color: maroon;
}