/* Structure */
body {
    background: papayawhip;
    color: saddlebrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Navigation */

/* Tables */

/* Typography */
h1 {
    color: maroon;
    font:
}
h2 {
    color: maroon;
}
h3 {
    color: maroon;
}