/*Structure*/

body {
    background: img src="images/grassfieldbackground";
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgoldenrod;
}

#content {
    background: moccasin;
    width: 70%;
    margin: auto;
    padding: 0 5px;
    border-radius: 5px;
}

#nav {
    text-decoration: none;
    color: darkgoldenrod;
}
/*Images*/

#images {

}

/*Tables*/
#table {
    
}
