/*Structure*/

body {
    background: img src="images/grassfieldbackground.jpg";
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content {
    background: moccasin;
    width: 70%;
    margin: auto;
    padding: 0 5px;
    border-radius: 5px;
}

#nav {
    text-decoration: none;
    color: darkgoldenrod;
}
/*Images*/

#images {
    padding: 5px;
    border: 3px solid black
    border-radius: 10px;
}

/*Tables*/
#table table{
    width: 100%;
    border-collapse: collapse;
    background: burlywood;
}
